<div fxLayout="row" fxLayoutAlign="center center" class="homepage-container">
    <div fxFlex="50%">
      <mat-card>
  
        <mat-card-content class="text-center">
          <h1>Template reactive form</h1>
          <h3>použité technológie</h3>
          <p>angular 17:<a href="https://angular.io/" target="_blank"> https://angular.io/</a></p>
          <p>angular material:<a href="https://material.angular.io/" target="_blank"> https://material.angular.io//</a></p>
          <p>angular Flex-Layout:<a href="https://github.com/angular/flex-layout" target="_blank"> https://github.com/angular/flex-layout</a></p>
          <p>angular tests in karma:<a href="https://angular.io/guide/testing" target="_blank"> https://angular.io/guide/testing</a></p>
          <p>( karma je deprecated od Angular verzie 16, mal by byť požitý jest )</p>
        </mat-card-content>
  
        <mat-card-actions fxLayoutAlign="center">
          <button mat-raised-button color="primary" (click)="onBegin()">Začať</button>
        </mat-card-actions>
      </mat-card>
    </div>
</div>
  