<div fxLayout="column" style="min-height: 100vh; position: relative;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Reactive form</span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>

  <footer fxLayout="column" fxLayoutAlign="center center" style="position: absolute; bottom: 0; width: 100%; background-color: #eee; padding: 20px;">
    <p style="margin: 0;">2023 Martin Pekny</p>
    <a href="https://github.com/Maperti8" target="_blank">GitHub</a>
  </footer>
</div>
