<div fxLayout="column" fxLayoutAlign="center center" class="form-container">
  <form [formGroup]="profileForm" class="form-container" fxLayout="column" fxLayout.lt-md="column" fxLayoutAlign="center start" fxFlex="100%">
    <mat-card fxFlex.lt-md="90%" fxFlex="70%">

      <mat-card-header>
        <mat-card-title>Profilové informácie</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div fxLayout="column" fxLayout.lt-md="column">
          <div class="row" fxLayout.lt-md="column">
            <div fxFlex="100" fxLayout.lt-md="100%">
              <mat-form-field class="full-width" appearance="fill">
                <input matInput placeholder="Meno" formControlName="firstName">
                <mat-error *ngIf="profileForm.get('firstName')?.hasError('required')">Zadajte meno</mat-error>
                <mat-error *ngIf="profileForm.get('firstName')?.hasError('maxlength')">Maximálna dĺžka je 25 charakterov</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row" fxLayout.lt-md="column">
            <div fxFlex="100" fxLayout.lt-md="100%">
              <mat-form-field class="full-width" appearance="fill">
                <input matInput placeholder="Priezvisko" formControlName="lastName">
                <mat-error *ngIf="profileForm.get('lastName')?.hasError('required')">Zadajte priezvisko</mat-error>
                <mat-error *ngIf="profileForm.get('lastName')?.hasError('maxlength')">Maximálna dĺžka je 25 charakterov</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row" fxLayout.lt-md="column">
            <div fxFlex="100" fxLayout.lt-md="100%">
              <mat-form-field class="full-width" appearance="fill">
                <input matInput type="number" placeholder="Vek" formControlName="age">
                <mat-error *ngIf="profileForm.get('age')?.hasError('required')">Zadajte vek</mat-error>
                <mat-error *ngIf="profileForm.get('age')?.hasError('min')">Vek nesmie byť negatívne číslo</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row" fxLayout.lt-md="column">
            <div fxFlex="100" fxLayout.lt-md="100%">
              <mat-checkbox class="full-width" formControlName="prevAttended" color="primary"><p>Predošlý účastník</p></mat-checkbox>
            </div>
          </div>

          <div class="row" fxLayout.lt-md="column">
            <p>Preferovaný šport:</p>
          </div>

          <div class="row" fxLayout.lt-md="column">
            <div fxFlex="100" fxLayout.lt-md="100%">
              <div>
                <mat-radio-group formControlName="sport">
                  <mat-radio-button *ngFor="let sport of sports" [value]="sport" color="primary">{{ sport }}</mat-radio-button>
                </mat-radio-group>
                <ng-container *ngIf="profileForm.get('sport')?.touched && profileForm.get('sport')?.hasError('required')">
                  <mat-error>Zadajte šport</mat-error>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="row" fxLayout.lt-md="column">
            <div fxFlex="100" fxLayout.lt-md="100%">
              <div>
                <mat-form-field class="full-width" appearance="fill">
                  <textarea matInput placeholder="Komentár" formControlName="comment"></textarea>
                  <mat-error *ngIf="profileForm.get('comment')?.hasError('maxlength')">Maximálna dĺžka je 4000 charakterov</mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>

      <div class="row"></div>
      <mat-card-actions>
        <button (click)="onSubmit()" mat-raised-button color="primary">Poslať</button>
      </mat-card-actions>

    </mat-card>
  </form>
</div>
